@CHARSET "UTF-8";
body { 
	background-color: #FFF0B5; 
	font-size: 9pt;
}
table {border: 2px solid pink; width:95%; margin: 10px auto;}
table tr { background-color: #FFE271; height: 40px;}
table tr:hover { background-color: orange;
	cursor: pointer;
}
td, th {text-align: center; padding:5px; }
caption {font-size: 20px; padding:10px;}
h2, b{text-align: center; color:red;}
a { text-decoration: none; color:black}
.left{text-align: left;}
.paging {text-align: center;}
input:not(.btn), textarea {
	width: 90%;
}