#wrap{
  width: 600px;
  margin: 10px auto;
  border: 1px solid gray;
  padding: 10px;
}

#wrap .title{
  text-align: center;
  height: 10px;
  line-height: 10px;
  text-decoration: underline;
  margin-bottom: 30px;
}

#wrap hr{
  border: 1px solid red;
}