/******* 페이지 초기화 **********/
*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

/********* header ***********/
header{
  height: 100px;
  background-color: #ea8f00;
}

/********** header #logo_wrap **************/
header #logo_wrap{
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

header #logo_wrap a{
  color: white;
  font-weight: bold;
}

header #logo_wrap .menu{
  position: absolute;
  left: 10px;
  top: 0;
}

header #logo_wrap .myinfo{
  position: absolute;
  right: 10px;
  top: 0;
}

/*********** header #search ***********/
header #search{
  height: 50px;
  position: relative; 돋보기 이미지를 #search안에서 position
}

header #search input[type=text]{
  width: 100%;
  height: 50px;
  border: 3px solid #ea8f00;
  box-sizing: border-box;
  outline: 0;
  padding: 5px 55px 5px 5px; /* 돋보기 자리 남기기 */
}

header #search input[type=submit]{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(ex2/search.png);
}

/************ #lnb ***************/
#lnb ul{
  overflow: hidden;
  margin: 7px 0;
}

#lnb ul li{
  float: left;
  width: 16.6%;
  height: 40px;
  line-height: 40px;
  border-right: 2px solid #ea8f00;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

#lnb ul li:last-child{
  border: 0;
}

#lnb ul li a{
color: black;
}

/*************** #section1 *******************/
section #section1{
  margin: 7px;;
}

section #section1 .row1,
section #section1 .row2,
section #section1 .row3{
  overflow: hidden;
}

section #section1 .row1 > a,
section #section1 .row2 > a,
section #section1 .row3 > a{
  float: left;
  width: 50%;
  height: 135px;
  border: 2px solid white;
  box-sizing: border-box;
}

section #section1 img{
  width: 100%;
  height: 100%;
}

/********************* #section2 *******************/
section #section2{
  margin: 7px;
}

section #section2 ul li{
  border: 1px solid gray;
  padding: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/****************** #section3 **********************/
section #section3 ul li{
  border: 1px solid gray;
  margin: 7px;
  padding: 10px;
  height: 100px;
  position: relative;   /* p.img 태그를 position잡을 예정이므로 부모의 포지션*/
}

section #section3 ul li p.img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
}

section #section3 ul li p.txt{
  padding-left: 120px;
}

section #section3 ul li p.txt span:first-child{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: navy;
  font-size: 1.2em;
}

/************************ footer *********************/
footer {
  background-color: #ea8f00;
  text-align: center;
  font-weight: bold;
}

footer p:last-child{
  padding: 0 0 5px 0;
}