@charset "UTF-8";
#joinForm_wrap {
	width:430px; 
	margin: 10px auto; 
	border: 1px solid #D4A190; 
	padding:20px;}
	
#join_title{
	width:400px;
	margin:10px auto;
	padding-bottom:20px;
	border-bottom:1px solid #D4A190;
	color:#A47160;
	font-size:1.5em;
	text-align:center;
	font-weight:bold;
}
#joinForm_wrap table{
	margin:0 auto; 
	color:#A47160;
}

#joinForm_wrap table tr{height:40px; }

#joinForm_wrap table th{
	width:120px;
	font-size:0.9em;
	color:#3F3F48;
	text-align:left;
	padding-left:10px;
}
#joinForm_wrap table td {width: 300px;}

.name, .id, .pw, .pwChk, .birth, .email, .mailSend {
	border: 1px solid #D4A190; height:20px;
	width:95%; padding:3px;
}

.mailSend  {height: 60px;}

.joinBtn_style {
	color: #ffffff;
	background: #A47160;
	border-style: none;
	outline: none;
	width:32%; height:120%;
	box-sizing: border-box;
}
