@charset "UTF-8";

body {
	font-size: 10pt;
	text-align: center;
}

table {
	border: 2px solid pink;
	width: 95%;
	margin: 10px auto;
}

table tr {
	background-color: #F9EBDE;
	height: 40px;
}

table tr:hover:not(tr:first-child) {
	background-color: #fbceb1;
	cursor: pointer;
}

table th{
	background-color: #815854;
}

td, th {
	text-align: center;
	padding: 5px;
}

#detail table td{
	width: 80%;
}

caption {
	font-size: 20px;
	padding: 10px;
}

h2, b {
	text-align: center;
	color: red;
}

a {
	text-decoration: none;
	color: black;
}
a:hover{
	font-weight: bold;
}

.left {
	text-align: left;
}

p {
	text-align: center;
}

table input:not(.btn), textarea {
	width: 90%;
}
#paging {
	display: inline-block;
}

#paging a{
	float: left;
	padding: 8px 16px;
	border-radius: 15px;
}

#paging b {
	background-color: #815854;
	color: white;
	float: left;
	padding: 8px 16px;
	border-radius: 15px;
}

#paging a:hover{
	background-color: #ddd;
}